# Environnement virtuel
env/
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de configuration locaux
.env
*.sqlite3

# Fichiers journaux
*.log

# Cache de l'IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Railway / autres fichiers temporaires
.railway/
